body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f4f4f4;
  color: #222;
  padding: 20px;
}

h2 {
  text-align: center;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background: white;
  box-shadow: 0 0 5px #ccc;
}

th, td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

button {
  background: #0078D7;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 6px 10px;
  cursor: pointer;
}

button:hover {
  background: #005fa3;
}

input {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
